:root {
    --primary-color: #4a5fe8;
    --secondary-color: #5fe84a;
    --black: #000;
    --white: #fff;
    --background-color: #e84a5f;
    --font-weight: 500;
    --h-font-weight: 700;
    --font-size: 18;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'lora', sans-serif;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-weight: var(--h-font-weight);
    font-size: 30px;
    text-align: center;
    color: var(--black);
}

h2 {
    font-weight: var(--h-font-weight);
    font-size: 24px;
    color: var(--black);
}

h3 {
    font-weight: var(--h-font-weight);
    font-size: var(--font-size);
    color: var(--black);
}

.pokemonbutton {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
}

.pokemonbutton {
    cursor: pointer;
    opacity: 0.8;
}
