:root {
    --primary-color: #4a5fe8;
    --secondary-color: #5fe84a;
    --black: #000;
    --white: #fff;
    --background-color: #e84a5f;
    --font-weight: 500;
    --h-font-weight: 700;
    --font-size: 18;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'lora', sans-serif;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-weight: var(--h-font-weight);
    font-size: 30px;
    text-align: center;
    color: var(--black);
}

h2 {
    font-weight: var(--h-font-weight);
    font-size: 24px;
    color: var(--black);
}

h3 {
    font-weight: var(--h-font-weight);
    font-size: var(--font-size);
    color: var(--black);
}

.pokemonbutton {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}